name: Release

on:
  pull_request:
    branches:
      - main
      - staging

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install semantic-release and plugins
        run: npm install --global semantic-release@latest @semantic-release/github@latest @semantic-release/changelog@latest @semantic-release/release-notes-generator@latest @semantic-release/commit-analyzer@latest @semantic-release/git@latest

      - name: Run semantic-release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
